*{
    font-family: "poppins";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(187, 174, 174);
}

.main-container{
    background: red;
    margin: 0 5vw;
}

/* HOMEPAGE */

    .main-container .home-page{
        background: green;
        height: 100vh;
    }

    .main-container .home-page .main-header{
        background: yellow;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 8%;

    }
    .main-container .home-page .main-header .logo-section{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 21%;
        height: 100%;
        background-color: rebeccapurple;
    }
    .main-container .home-page .main-header .logo-section a img{
        width: 8vh;
        height: 100%;
        padding-top: 5px;
    }
    .main-container .home-page .main-header .logo-section h2{
        color: #fff;
    }
    .main-container .home-page .main-header .nav-section .nav-bar{
        background: red;

    }
    .main-container .home-page .main-header .nav-section .nav-bar .nav-list{
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
    }
    .main-container .home-page .main-header .nav-section .nav-bar .nav-list li{
        background: green;
        padding: 10px;
        margin: 5px;

    }





